<launch>

  

  
<node pkg="modbusbridge" type="modbusbridge.py" name="modbusbridge">
  <param name="modbus_ip" value="192.168.178.95" />
  <param name="refresh_rate" value="10" />
  <param name="modbus_port" value="5020" />
 </node>



<node pkg="remotecontrol" type="remotecontrol.py" name="remotecontrol">
  <param name="serialport" value="/dev/ttyUSB0" />
  <param name="serialbaud" value="9600" />
  <param name="refresh_rate" value="10" />

 </node>


</launch>
