<html>

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>LC</title>


    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/small-business.css" rel="stylesheet">



    <style>
        body {
            background-color: rgb(44, 43, 43);
        }

        .my-sidebar {
            -ms-flex: 0 0 800;
            flex: 0 0 800;
            background-color: greenyellow;
        }

        .gauge_text {
            font-weight: 900;
            color: aliceblue;
            font-size: 1.6em;
        }
    </style>
</head>

<body>




    <div class="container-fluid" style="max-width: 1280;">


        <div class="row" style="border:2px solid white;">


            <div class="col-md-1 col-md-offset-1">
                <img class="img-responsive" src="/img/new_icons/icon_150x150_brake_1_undef.png" width="75"
                    style="border:3px solid white;" id="img_v0" />
            </div>
            <div class="col-md-1">
                <img class="img-responsive" src="/img/new_icons/icon_150x150_brake_2_undef.png" width="75"
                    style="border:3px solid white;" id="img_v1" />
            </div>
            <div class="col-md-1">
                <img class="img-responsive" src="/img/new_icons/icon_150x150_brake_3_undef.png" width="75"
                    style="border:3px solid white;" id="img_v2" />
            </div>
            <div class="col-md-1">
                <img class="img-responsive" src="/img/new_icons/icon_150x150_brake_4_undef.png" width="75"
                    style="border:3px solid white;" id="img_v3" />
            </div>

            <div class="col-md-1">
                <img class="img-responsive" src="/img/zusi_icons/np_error.png" width="75"
                    style="border:3px solid white;" id="img_fire" />
            </div>

            <div class="col-md-1">
                <img class="img-responsive" src="/img/zusi_icons/np_error.png" width="75"
                    style="border:3px solid white;" id="img_direction" onclick="change_direction()" />
            </div>

            <div class="col-md-1">
                <img class="img-responsive" src="/img/new_icons/icon_150x150_mode_undef.png" width="75"
                    style="border:3px solid white;" id="img_ctlmode" onclick="change_ctlmode()" />
            </div>


            <div class="col-md-1">
                <img class="img-responsive" src="/img/new_icons/icon_150x150_autostop_undef.png" width="75"
                    style="border:3px solid white;" id="img_asc" onclick="change_asc()" />
            </div>


             <div class="col-md-1">
                <img class="img-responsive" src="/img/new_icons/icon_150x150_comp_undef.png" width="75"
                    style="border:3px solid white;" id="img_komp" onclick="change_kompressormode()" />
            </div>


            <div class="col-md-1">
                <img class="img-responsive" src="/img/new_icons/icon_150x150_lights_A_undef.png" width="75"
                    style="border:3px solid white;" id="img_light" onclick="change_lightmode()" />
            </div>

        </div>


        <!-- Heading Row -->
        <div class="row" style="border:2px solid white;">
            <div class="col-md-6 col-md-offset-1" style="border:2px solid white;">
                <canvas id="canvas1" width="600" height="300">
                    Your browser does not support the canvas element.
                </canvas>
            </div>
            <div class="col-md-6 col-md-offset-1" style="border:2px solid white;">
                <canvas id="canvas2" width="600" height="300">
                    Your browser does not support the canvas element.
                </canvas>
            </div>
        </div>


        <div class="row" style="border:2px solid white;">
            <div class="col-md-6 col-md-offset-1 center-block text-center" style="border:2px solid white;">
                <span class="gauge_text" id="gauge_kmh_text">0</span>
            </div>
            <div class="col-md-6 col-md-offset-1 center-block text-center" style="border:2px solid white;">
                <span class="gauge_text" id="gauge_kn_text">0</span>
            </div>
        </div>


        <div class="row" style="border:2px solid white;">
            <div class="col-md-6 col-md-offset-1 center-block text-center" style="border:2px solid white;">


            </div>
            <div class="col-md-6 col-md-offset-1 center-block text-center" style="border:2px solid white;">
                <button type="button" class="btn btn-info" id="chgaugtwo_kn" onclick="sw_gauge_mode_two('kn');"> KN
                </button>

                <button type="button" class="btn btn-info" id="chgaugtwo_batt" onclick="sw_gauge_mode_two('batt');">BATTERY</button>

                <button type="button" class="btn btn-info" id="chgaugtwo_temp" onclick="sw_gauge_mode_two('temp');">TEMPERATURE</button>

                <button type="button" class="btn btn-info" id="chgaugtwo_bar" onclick="sw_gauge_mode_two('bar');">PRESSURE</button>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 col-md-offset-1" style="border:2px solid white;" id="alert_box">
               
                <img class="img-responsive" src="/img/new_icons/icon_512x128_Notbremse.png" width="75"
                    style="border:3px solid white;" id="img_komp" onclick="send_notbremse()" />
                
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 col-md-offset-1" style="border:2px solid white;" id="dist_left_box_cont">
                &nbsp;
                
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 col-md-offset-1" style="border:2px solid white;" id="alert_box">
                &nbsp;
                <div class="alert alert-primary" role="alert" id="alert_box">
                    NO MESSAGES AVARIABLE
                </div>
            </div>
        </div>










        <audio id="firesound" preload="auto">
            <source src="./audio/fire.mp3" />
            <source src="./audio/fire.ogg" />
        </audio>


        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="js/204socket.io.js"></script>
        <script src="js/gauge.js"></script>




        <script>
    var last_guage_mode = "";
            var opts_kmh = {
                angle: 0, // The span of the gauge arc
                lineWidth: 0.44, // The line thickness
                radiusScale: 1, // Relative radius
                pointer: {
                    length: 0.5, // // Relative to gauge radius
                    strokeWidth: 0.035, // The thickness
                    color: '#000000' // Fill color
                },
                limitMax: true,     // If false, max value increases automatically if value > maxValue
                limitMin: true,     // If true, the min value of the gauge will be fixed
                colorStart: '#6FADCF',   // Colors
                colorStop: '#8FC0DA',    // just experiment with them
                strokeColor: '#E0E0E0',  // to see which ones work best for you
                generateGradient: true,
                highDpiSupport: true,     // High resolution support

            };

            var opts_kn = {
                angle: 0, // The span of the gauge arc
                lineWidth: 0.44, // The line thickness
                radiusScale: 1, // Relative radius
                pointer: {
                    length: 0.5, // // Relative to gauge radius
                    strokeWidth: 0.035, // The thickness
                    color: '#000000' // Fill color
                },
                limitMax: true,     // If false, max value increases automatically if value > maxValue
                limitMin: true,     // If true, the min value of the gauge will be fixed
                colorStart: '#E0E0E0',   // Colors
                colorStop: '#E0E0E0',    // just experiment with them
                strokeColor: '#E0E0E0',  // to see which ones work best for you
                generateGradient: true,
                highDpiSupport: true,     // High resolution support

            };


            var target1 = document.getElementById('canvas2'); // your canvas element
            var gauge_kn = new Gauge(target1).setOptions(opts_kn); // create sexy gauge!
            gauge_kn.maxValue = 20; // set max gauge value
            gauge_kn.setMinValue(-20);  // Prefer setter over gauge.minValue = 0
            gauge_kn.animationSpeed = 32; // set animation speed (32 is default value)
            gauge_kn.set(0); // set actual value

            var target2 = document.getElementById('canvas1'); // your canvas element
            var gauge_kmh = new Gauge(target2).setOptions(opts_kmh); // create sexy gauge!
            gauge_kmh.maxValue = 15.5; // set max gauge value
            gauge_kmh.setMinValue(0);  // Prefer setter over gauge.minValue = 0
            gauge_kmh.animationSpeed = 32; // set animation speed (32 is default value)
            gauge_kmh.set(0); // set actual value
            //TODO SET KMH TEXT TO 0



            var socket = null;

            var fire_detection_sound_intervall = null;
            var fire_detection_last_state = false;
            //SET TO BG IMG_SIZE
            function change_direction() {
                socket.emit('dirch', { 'event': 'dirch' });
            }

            function change_ctlmode() {
                socket.emit('ctlmodech', { 'event': 'ctlmode' });
            }
            function change_asc() {
                socket.emit('ascch', { 'event': 'asc' });
            }

            function change_kompressormode(){
                socket.emit('kompmode', { 'event': 'kompmode' });
            }

            function send_notbremse(){
                socket.emit('embreak', { 'event': 'embreak' });
            }

            function change_lightmode(){
                socket.emit('lightmode', { 'event': 'lightmode' });
            }

            var gauge_two_mode = "bar"; //bar kn batt temp

            function sw_gauge_mode_two(_btn_id) {
                gauge_two_mode = _btn_id;
            }

           
            function show_alert(_msg, _is_err = false) {
                if (!_is_err) {
                    $("#alert_box").html("&nbsp; <div class='alert alert-primary' role='alert' id='alert_box'>" + _msg + "</div>");
                } else {
                    $("#alert_box").html("&nbsp; <div class='alert alert-danger' role='alert' id='alert_box'>" + _msg + "</div>");
                }
            }




            function switch_image(_id, _state) {
                var th = $("#img_" + _id);
                if (th == null || _state == null || _id == null) {
                    th.attr("src", "/img/zusi_icons/np_error.png");
                    console.log("INVALID STATE IMAGE:" + _id + " s:" + _state)
                    return;
                }

                th.attr("src", "/img/zusi_icons/" + String(_id) + "_" + String(_state) + ".png");
            }

            var old_alert_msg = "";
            var fahrtrichtungtext = "---";
            var chmodeicon_switched = false;

            function parse_state_data(_data) {

                if (_data == null || _data.display == null) {
                    show_alert("DATA STATE PARSING FAILED")
                }
                console.log(_data);

                //UPDATE GAUGES

                if (_data.display.lightstate != undefined && _data.display.lightstate != null) {
                    if (_data.display.lightstate) {
                        $("#img_light").attr("src", "/img/new_icons/icon_150x150_lights_A_on_front.png");
                    } else{
                        $("#img_light").attr("src", "/img/new_icons/icon_150x150_lights_A_off.png");
                    }
                } else {
                    $("#img_light").attr("src", "/img/new_icons/icon_150x150_lights_A_undef.png");
                }

                if (_data.display.kompressorstate != undefined && _data.display.kompressorstate != null) {
                    if (_data.display.kompressorstate == 1) {
                        $("#img_komp").attr("src", "/img/new_icons/icon_150x150_comp_on.png");
                    } else if (_data.display.kompressorstate == 0) {
                        $("#img_komp").attr("src", "/img/new_icons/icon_150x150_comp_off.png");
                    }else{
                        $("#img_komp").attr("src", "/img/new_icons/icon_150x150_comp_auto.png");
                    }
                } else {
                    $("#img_komp").attr("src", "/img/new_icons/icon_150x150_comp_undef.png");
                }



                if (_data.display.state_v0 != undefined && _data.display.state_v0 != null) {
                    if (_data.display.state_v0) {
                        $("#img_v0").attr("src", "/img/new_icons/icon_150x150_brake_1_on.png");
                    } else {
                        $("#img_v0").attr("src", "/img/new_icons/icon_150x150_brake_1_off.png");
                    }
                } else {
                    $("#img_v0").attr("src", "/img/new_icons/icon_150x150_brake_1_undef.png");
                }

                if (_data.display.state_v1 != undefined && _data.display.state_v1 != null) {
                    if (_data.display.state_v1) {
                        $("#img_v1").attr("src", "/img/new_icons/icon_150x150_brake_2_on.png");
                    } else {
                        $("#img_v1").attr("src", "/img/new_icons/icon_150x150_brake_2_off.png");
                    }
                } else {
                    $("#img_v1").attr("src", "/img/new_icons/icon_150x150_brake_2_undef.png");
                }

                if (_data.display.state_v2 != undefined && _data.display.state_v2 != null) {
                    if (_data.display.state_v2) {
                        $("#img_v2").attr("src", "/img/new_icons/icon_150x150_brake_3_on.png");
                    } else {
                        $("#img_v2").attr("src", "/img/new_icons/icon_150x150_brake_3_off.png");
                    }
                } else {
                    $("#img_v2").attr("src", "/img/new_icons/icon_150x150_brake_3_undef.png");
                }

                if (_data.display.state_v3 != undefined && _data.display.state_v3 != null) {
                    if (_data.display.state_v3) {
                        $("#img_v3").attr("src", "/img/new_icons/icon_150x150_brake_4_on.png");
                    } else {
                        $("#img_v3").attr("src", "/img/new_icons/icon_150x150_brake_4_off.png");
                    }
                } else {
                    $("#img_v3").attr("src", "/img/new_icons/icon_150x150_brake_4_undef.png");
                }




                if (_data.display.fire_detcted != undefined && _data.display.fire_detcted != null) {
                    if (_data.display.fire_detcted) {
                        $("#img_fire").attr("src", "/img/zusi_icons/fire.png");


                        if (fire_detection_last_state != _data.display.fire_detcted) {
                            fire_detection_last_state = _data.display.fire_detcted;

                            if (fire_detection_last_state) {
                                fire_detection_sound_intervall = setInterval(() => { 
                                    $("#firesound").play(); 
                                }, 2000);

                            } else {
                                clearInterval(fire_detection_sound_intervall);
                            }
                        }

                    } else {
                        $("#img_fire").attr("src", "/img/zusi_icons/nofire.png");
                    }
                } else {
                    $("#img_fire").attr("src", "/img/zusi_icons/np_error.png");
                }




                if (_data.display.asc_state != undefined && _data.display.asc_state != null) {
                    if (_data.display.asc_state == 0) {
                        $("#img_asc").attr("src", "/img/new_icons/icon_150x150_autostop_off.png");
                    } else if (_data.display.asc_state == 1) {
                        $("#img_asc").attr("src", "icon_150x150_autostop_on.png");
                    } else if (_data.display.asc_state == 2) {
                        $("#img_asc").attr("src", "icon_150x150_autostop_on_detected.png");
                    }

                    if (_data.display.asc_rest_dist != undefined && _data.display.asc_rest_dist != null &&  _data.display.asc_state == 2) { 
                        $("#dist_left_box_cont").html("&nbsp; <div class='alert alert-primary' role='alert' id='alert_box'>" + "DISTANCE TO STOP LEFT : " + _data.display.asc_rest_dist + " m" + "</div>");
                    }else{
                        $("#dist_left_box_cont").html("");
                    }
                } else {
                    $("#img_asc").attr("src", "/img/new_icons/icon_150x150_autostop_undef.png");
                }



// TODO AKTIVER BUTTON FÄRBEN
// TODO emergencybrake + button einbauen
//TODO BATTER RÜCKSPEISUN EINBAUEN + RESET + AUF DEFAULT WERT SETZTEN

                if (gauge_two_mode == "kn") {
                    $("#gauge_kn_text").html(String(_data.display.kn) + " N");
                    gauge_kn.set(_data.display.kn); // set actual value
                    if(last_guage_mode != last_guage_mode){
                        last_guage_mode = gauge_two_mode;
                        opts_kn.colorStart = "#6B4E2C";
                        opts_kn.colorStop = "#4A9A41";
                        gauge_kn.setOptions(opts_kn);
                        gauge_kn.maxValue = 1000.0;
                        gauge_kn.setMinValue(-1000.0);
                    }
                   
                } else if (gauge_two_mode == "bar") {
                    $("#gauge_kn_text").html(String(_data.display.kompressordruck) + " BAR");
                    gauge_kn.set(_data.display.kompressordruck); // set actual value
                    if(last_guage_mode != last_guage_mode){
                    opts_kn.colorStart = "#41F71D";
                    opts_kn.colorStop = "#EAF71D";
                    gauge_kn.setOptions(opts_kn);
                    gauge_kn.maxValue = 10.0;
                    gauge_kn.setMinValue(0.0);
                    }
                } else if (gauge_two_mode == "batt") {
                    $("#gauge_kn_text").html(String(_data.display.batt_charge) + " A");
                    gauge_kn.set(_data.display.batt_charge); // set actual value
                    if(last_guage_mode != last_guage_mode){
                    opts_kn.colorStart = "#41F71D";
                    opts_kn.colorStop = "#EAF71D";
                    gauge_kn.setOptions(opts_kn);
                    gauge_kn.maxValue = 150.0;
                    gauge_kn.setMinValue(0.0);
                    }
                } else if (gauge_two_mode == "temp") {
                    $("#gauge_kn_text").html(String(_data.display.temperature) + " &deg;C");
                    gauge_kn.set(_data.display.temperature); // set actual value
                    if(last_guage_mode != last_guage_mode){
                    opts_kn.colorStart = "#E0E0E0";
                    opts_kn.colorStop = "#E0E0E0";
                    gauge_kn.setOptions(opts_kn);
                    gauge_kn.maxValue = 120.0;
                    gauge_kn.setMinValue(-20.0);
                    }
                } else {
                    $("#gauge_kn_text").html(String(_data.display.kn) + "---");
                }




                if (_data.display.ctlmode != undefined && _data.display.ctlmode != null) {
                    if (_data.display.ctlmode == 1) {
                        $("#img_ctlmode").attr("src", "/img/new_icons/icon_150x150_mode_current.png");
                        if (!chmodeicon_switched) {
                            sw_gauge_mode_two('kn');
                            chmodeicon_switched = true;
                        }
                    } else {
                        $("#img_ctlmode").attr("src", "/img/new_icons/icon_150x150_mode_rpm.png");
                        chmodeicon_switched = false;
                    }
                } else {
                    $("#img_ctlmode").attr("src", "/img/new_icons/icon_150x150_mode_undef.png");
                }


                if (_data.display.kmh != undefined && _data.display.kmh != null) {
                    gauge_kmh.set(_data.display.kmh);
                    $("#gauge_kmh_text").html(String(_data.display.kmh) + " KMH");
                }


                if (_data.display.direction == 1) {
                    fahrtrichtungtext = "FORWARD";
                    $("#img_direction").attr("src", "/img/zusi_icons/forward.png");

                } else if (_data.display.direction == 0) {
                    fahrtrichtungtext = "BACKWARD";
                    $("#img_direction").attr("src", "/img/zusi_icons/backward.png");
                } else {
                    fahrtrichtungtext = "UNKNOWN";
                    $("#img_direction").attr("src", "/img/zusi_icons/np_error.png");
                }
                //  show_alert(fahrtrichtungtext, !_data.display.direction);


                //UPDATE ALERT TEXT
                if (_data.display.alert_msg != undefined && _data.display.alert_msg != null) {
                    show_alert(_data.display.alert_msg, false);
                    if (old_alert_msg != _data.display.alert_msg && String(_data.display.alert_msg) != "") {
                        old_alert_msg = _data.display.alert_msg;
                        audio_alert.play();
                        setTimeout(() => {
                            show_alert(_data.display.alert_msg, false);
                            setTimeout(() => {
                                show_alert(_data.display.alert_msg, true);
                            }, 1000);
                        }, 1000);
                    }

                }
            }










            $(document).ready(function () {
                socket = io();
                socket.on('broadcast', function (data) {
                    if (data == null) { return; }
                    //console.log(data);
                    parse_state_data(data)
                });
            });
        </script>

</body>

</html>